{% extends "myapp/base.html" %}
{% load allauth i18n %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}">
{% endblock %}

{% block header_title %}ログイン{% endblock %}

{% block content %}
{% if form.errors  %}
<div class="login-error-message">
    <span>ユーザーID, パスワードが一致しません．</span>
</div>
{% endif %}
<form method="POST" action="{% url 'account_login' %}" class="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="login-form__submit">ログイン</button>
</form>
{% endblock %}

{% block footer %}{% endblock %}