{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/change_icon.css' %}">
{% endblock %}

{% block header_title %}アイコン変更{% endblock %}

{% block content %}
<div class="change-icon">
    <p>現在のアイコン</p>
    <div class="preview-image">
        <img src="{{ request.user.icon.url }}" alt="Current Icon">
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <p>新しいアイコン</p>
            <label for="id_icon">選択</label>
            <br>
            <br>
            <input type="file" id="id_icon" name="icon" class="form-control-file">
        </div>
        <div id="file-name"></div>
        <button type="submit" class="btn btn-primary">変更する</button>
    </form>
</div>

<script>
    document.getElementById('id_icon').addEventListener('change', function() {
        var fileName = this.files[0].name;
        var fileNameDisplay = document.getElementById('file-name');
        fileNameDisplay.textContent = '選択したファイル: ' + fileName;
    });
</script>
{% endblock %}